.paragraph{
    color: black;
    font-size: medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.myDiv{
    border: 5px outset red;
    background-color: navy;    
    text-align: center;
  }