#myHeader{
    background-color: navy;
    color: wheat;
    padding: 40px;
    text-align: center;
}
a:hover {
    background-color: cyan;
}
.paragraph{
    color: black;
    font-size: medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.myDiv {
    border: 5px outset black;
    background-color: orangered;
    text-align: center;
  }
  .image{
    border: 10px ridge #f00;
    background-color: black;
    padding: .5rem;
    display: flex;
    flex-direction: column;
  }